
@model ProductsOnline.Models.Product

@{
    ViewBag.Title = "Delete Product";
}

<h2>Delete Product</h2>

@using (Html.BeginForm("DeleteProduct", "Product", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Id)
        @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
}