@{
    ViewData["Title"] = "Product Management";
}

<h2>Product Management</h2>

<div>
    @Html.ActionLink("Create New Product", "AddProduct", null, new { @class = "btn btn-primary" })
</div>

<div style="margin-top: 10px;">
    @Html.ActionLink("View Product Details", "GetProducts", null, new { @class = "btn btn-info" })
</div>

<div style="margin-top: 10px;">
    @Html.ActionLink("Edit Product", "UpdateProduct", null, new { @class = "btn btn-warning" })
</div>

<div style="margin-top: 10px;">
    @Html.ActionLink("Delete Product", "DeleteProduct", null, new { @class = "btn btn-danger" })
</div>
